.breadcrumb-text h1{
    padding-bottom: 0px;
}
.email {
    background: #fff none repeat scroll 0 0;
    color: #666;
    font-size: 14px;
    height: 45px;
    margin-bottom: 23px;
    padding: 0 23px;
    width: 100%;
    border: solid 1px #aaa;
}
#btn-send-email {
    background: #2d3e50 none repeat scroll 0 0;
    border: 0 none;
    color: #ffffff;
    line-height: 42px;
    padding: 0 28px;
    position: relative;
    text-transform: uppercase;
    z-index: 99;
    width: 100%;
    margin-bottom: 10px;
}
a {
    color: #86bc42;
}
    a:hover {
        color: #2d3e50;
    }
    .mt-50{
        margin-top: 50px;
    }
.magin-register{
    height:100px;
}
.back-ground {
    background-color: #f7f7f7;
}
